<!-- PICTURE NORMAL -->
<div class="box-full col-md-12">
    <div class="row">
        <div class="spacer-sm"></div>
        <figure class="figure-sm">
            <img src="img/article/step1.jpg" alt="" class="col-md-8">
            <figcaption class="f-font1 f-aside f-gray-medium f-aa col-md-4">Dans le "cimetière", en fait un vignoble abandonné, demeurent les vestiges des premiers oliviers qui auraient contracté la maladie en 2008.</figcaption>
        </figure>
        <div class="spacer-xl"></div>
    </div>
</div>

<div class="box-corridor col-md-8 col-md-offset-4">
    <div class="row">
        <div class="spacer-sm"></div>
        <a href="https://www.letemps.ch/sciences/2016/08/05/malgre-injonctions-bruxelles-litalie-rechigne-arracher-oliviers-malades" target="_blank">
            <div class="related col-sm-10 col-sm-offset-1 ">
                <img src="img/article/champ-square.jpg" alt="">
                <h6 class="f-font1 f-h5 f-black f-aa">
                    Malgré les injonctions de Bruxelles, l’Italie rechigne à arracher ses oliviers malades
                </h6>
                
                <span class="f-font1 f-aside f-gray-medium f-aa f-nomargin">letemps.ch – 5 août 2016</span>
                <div class="spacer-sm"></div>
                <button type="button" class="btn btn-default f-font3 f-weight600 f-aa">Lire l'article</button>

                <!-- <div class="input-group form-button-fix">
                    <input type="text" class="form-control input-lg f-font1 f-aa" placeholder="Votre email">
                    <span class="input-group-btn">
                        <button class="btn btn-default btn-lg f-font3 f-weight600 f-aa" type="button">S'inscrire</button>
                    </span>
                </div> -->
            </div>
        </a>
        <div class="spacer-lg"></div>
    </div>
</div>

<div class="encart">
    <div class="box-aside col-md-3">
        <figure>
            <img src="img/article/interview2.jpg">
            <div class="spacer-lg"></div>
            <figcaption class="f-font1 f-aside f-gray-medium f-aa"><span class="f-weight700">Domenico Bosco</span>Professeur d'entomologie agricole à l'Université de Turin</figcaption>
        </figure>
    </div>
    <div class="encart-2-columns col-md-9">
        <span class="f-font1 f-weight700">– Faut-il s’attendre à une progression de l’épidémie qui frappe les oliviers italiens?</span>
        <div class="spacer-sm"></div>
        <span class="f-font2">– Malheureusement oui. Des prélèvements viennent de mettre en évidence un nouveau foyer dans la province de Brindisi, à environ 30 km au nord de la première zone infectée. A cela s’ajoute la découverte de nouvaux foyers de maladie au sein mêmme de cette zone initiale.</span>

        <div class="spacer-md"></div>
        <span class="f-font1 f-weight700">– La maladie est connue depuis plus d’un siècle. Pourquoi est-il si difficile de trouver un traitement?</span>
        <div class="spacer-sm"></div>
        <span class="f-font2">– Parce que les outils dont on dispose ne sont pas adaptés. On ne peut pas faire grand chose contre des bactéries s’attaquant aux cultures. Les antibiotiques sont à proscrire, car utilisés à telle échelle, de nombreuses résistances apparaitraient certainement. Quant aux produits à base de cuivre, utilisés contre les champignons, ils limitent au mieux la progression des bactéries, mais ne les éradiquent pas.</span>

        <div class="spacer-md"></div>
        
        <span class="f-font1 f-weight700">– Que peut-on faire?</span>
        <div class="spacer-sm"></div>
        <span class="f-font2">– La seule option restante, c’est de faire de la prévention. Xylella étant transmise par des insectes, on peut essayer de les contrôler, par exemple en arrachant les herbes abritant leurs larves, ou en utilisant des pesticides pour tuer les adultes.</span>

        <div class="spacer-md"></div>
        
        <span class="f-font1 f-weight700">– L’abattage des oliviers est-il inéluctable?</span>
        <div class="spacer-sm"></div>
        <span class="f-font2">– Je crains que l’élagage ne suffise pas et qu’il faille non seulement arracher les oliviers malades, mais aussi les autres arbres concernés par la maladie, tels que les amandiers, les cerisiers, certains lauriers-roses… Si nous ne le faisons pas, les insectes continueront à propager la Xylella et l’épidémie sera hors de contrôle.</span>

        <div class="spacer-md"></div>
        
        <span class="f-font1 f-weight700">– Les pesticides ont-ils un intérêt dans ce cas précis?</span>
        <div class="spacer-sm"></div>
        <span class="f-font2">– Je suis d’accord, ce n’est pas la solution la plus populaire. Mais les insecticides ont déjà prouvé leur efficacité sur des maladies associées à la Xylella en Amérique. Et l’olivier étant pollénisé par le vent, le risque d’empoisonner des insectes pollinisateurs est somme toute assez faible si les produits sont correctement appliqués.</span>
    </div>
</div>